<<<<<<< HEAD
#login-wrap {
	width: 60%;
	height: 300px;
	margin: auto;
	margin-top: 10%;
	margin-bottom: 20%;
	border-radius: 5px;
	box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
	padding-top: 10%;
	min-width: 265px;
}

form div {
	margin-bottom: 5px;
}

#error {
	border-bottom: solid;
	border-color: RGB(182, 0, 0);
	border-width: 1.5px;
	margin-bottom: 10px;
	text-align: center;
}

form input {
	margin-bottom: 5px;
}

form {
	width: 225px;
	margin: auto;
=======
#login-wrap {
	width: 60%;
	height: 300px;
	margin: auto;
	margin-top: 10%;
	margin-bottom: 20%;
	border-radius: 5px;
	box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
	padding-top: 10%;
	min-width: 265px;
}

form div {
	margin-bottom: 5px;
}

#error {
	border-bottom: solid;
	border-color: RGB(182, 0, 0);
	border-width: 1.5px;
	margin-bottom: 10px;
	text-align: center;
}

form input {
	margin-bottom: 5px;
}

form {
	width: 225px;
	margin: auto;
>>>>>>> origin/master
}